:root, [data-theme='light']{
    --prose-font: "Montserrat";
    --prose-text-color: #231f20;
    --prose-primary-color: #0d6efd;
    --prose-secondary-color: #6c757d;
    --prose-background-color: #f5f5f5;
    --prose-title-text-color: #fff;
    --prose-title-background-color: #6c757d;
    --prose-border-color: #ddd;
}
[data-theme='dark']{
    --prose-text-color: #eee;
    --prose-primary-color: #0d6efd;
    --prose-secondary-color: #999;
    --prose-background-color: rgba(255,255,255,0.1);
    --prose-title-text-color: #101010;
    --prose-title-background-color: rgba(255,255,255,0.5);
    --prose-border-color: #484848;
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html{
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif, Arial;
}

body, body[data-theme='light']{
    background: #fff;
}
body[data-theme='dark']{
    background: #231f20;
}

.container{
    padding: 0px 15px;
}

@media (min-width: 482px) {
    html{
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    html{
        font-size: 17px;
    }

    .container{
        width: 640px;
        margin: auto;
        padding: 0px;
    }
}
@media (min-width: 992px) {
    html{
        font-size: 18px;
    }

    .container{
        width: 760px;
    }
}
@media (min-width: 1200px) {
    html{
        font-size: 20px;
    }

    .container{
        width: 1080px;
    }
}