@use "variables" as *;

.prose{
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 400;
    color: $text-color;

    p, blockquote, table, video, audio, img{
        margin: 0px 0px 1em 0px;
        padding: 0px;
    }

    &::after{
        display: block;
        content: "";
        clear: both;
    }
}