$text-color: var(--prose-text-color);
$primary-color: var(--prose-primary-color);
$secondary-color: var(--prose-secondary-color);
$background-color: var(--prose-background-color);
$title-text-color: var(--prose-title-text-color);
$title-background-color: var(--prose-title-background-color);
$border-color: var(--prose-border-color);

$font-family: var(--prose-font);
$font-size: 1rem;